@import "styles/mixins";
@import "styles/variables";

.about {
    @include fondAnimation;
    width: 100%;
    
    .AboutContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .content {
            width: 70%;
            margin-bottom: 4rem;
            display: flex;
            align-items: center;

            @include mobile {
                width: 80%;
                flex-direction: column;
                align-items: flex-start;
            }

            div {
                @include mobile {
                    margin-bottom: 1.5rem;
                }

                img {
                    z-index: 0;
                    max-height: 15rem;
                    @include img;
                }
            }
            
            .aboutText {
                padding-left: 1.5rem;

                @include mobile {
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: start;
                    padding-left: 0;
                }
                
                p:first-child {
                    margin-top: 0;
                }

                p {
                    margin-bottom: 1rem;
                }
                
                a {
                    @include lien;
                    color: black;
                }
    
                .gitHub {
                    text-align: center;
                }
    
                .monCV {
                    @include mobile {
                        padding-bottom: 3rem;
                    }
                }
            }

            
        }
    }
}