@import "../../../styles/mixins";


.contentContact {
    
    .lienContact {
        @include centrer;
        width: 100%;

        p {
            width: 70%;

            @include mobile {
                width: 90%;
            }

            a {
                color: black;
                @include lien;
            }
        }
    }

    
}