// Responsive
@mixin smallMobile() { @media screen and (max-width:325px) { @content; } } // @include mobile { }
@mixin mobile() { @media screen and (max-width:767px) { @content; } } // @include mobile { }
@mixin desktop() { @media screen and (min-width:768px) { @content; } } // @include desktop { }
@mixin tablet() { @media screen and (max-width:1024px) { @content; } } // @include tablet { }
@mixin onlyTablet() { @media screen and (min-width: 768px) and (max-width:1024px) { @content; } } // @include tablet { }
@mixin onlyDesktop() { @media screen and (min-width:1025px) { @content; } } // @include desktop { }
@mixin largeDesktop() { @media screen and (min-width:1400px) { @content; } }

@mixin centrer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin lienHeader {
    position: relative;
    text-decoration: none;

   span {
       background-color: aqua;
       position: absolute;
       width: 100%;
       bottom: 0;
       height: 0;
       opacity: 0.5;
       transition: height 0.5s;
   }

   &:hover span {
       height: 50%;
       //top: 0;
   }
}

@mixin lien {
    position: relative;

    span {
        position: absolute;
        background-color: aqua;
        bottom: 0;
        top: 85%;
        left: 0;
        right: 0;
        opacity: 0.5;
        transition: top 0.3s;
    }

    &:hover span {
        top: 0;
    }
}


