@import "../styles/mixins";
@import "../styles/variables";

.contentAccueil {
    width: 100%;
    @include fondAnimation;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }

        .image {
            margin-left: 10%;
            opacity: 0;
            width: 25rem;
            @include img;
            transition: opacity $transition;

            @include mobile {
                width: 20rem;
                margin: 2rem 0 2rem 0
            }

            &.active {
                opacity: 1;
            }
        }

        div {

            h2 {
                color: $primary;
                font-size: 30px;
            }
            
            .listeLien {
                margin: 1rem 0 1rem 0;

                .lienRea {
                    color: black;
                    width: fit-content;
                    font-size: 20px;
                    margin-left: -20px;
                    transition: margin $transition;

                    i {
                        width: 15px;
                        text-align: center;
                        opacity: 0;
                        transition: opacity $transition;
                    }

                    &:hover {
                        margin-left: 0;
                        i {
                            opacity: 1;
                        }
                    }
                }

                ul {
                    display: flex;
                    justify-content: flex-start;
                    padding: 0;
                    margin: 5px 0 0 0;

                    li {
                        border: 1px solid black;
                        padding: 5px;
                        border-radius: 3px;
                        margin-right: 10px;
                        font-size: 14px;
                        width: fit-content;
                    }
                }

                
            }
        }
    }
}

