@import "../styles/mixins";
@import "../styles/variables";

.contentAccueil {
    width: 100%;
    @include fondAnimation;
    
    @include mobile {
        position: relative;
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }

        .image {
            margin-left: 10%;
            opacity: 0;
            width: 25rem;
            @include img;
            transition: opacity $transition;

            @include mobile {
                display: none;
            }

            &.active {
                opacity: 1;
            }
        }

        div {

            h2 {
                color: $primary;
                font-size: 30px;
            }
            
            .listeLien {
                margin: 1rem 0 1rem 0;

                .lienRea {
                    color: black;
                    width: fit-content;
                    font-size: 20px;
                    margin-left: -20px;
                    transition: margin $transition;

                    i {
                        width: 15px;
                        text-align: center;
                        opacity: 0;
                        transition: opacity $transition;
                    }

                    &:hover {
                        margin-left: 0;
                        i {
                            opacity: 1;
                        }
                    }
                }

                ul {
                    display: flex;
                    justify-content: flex-start;
                    padding: 0;
                    margin: 5px 0 0 0;

                    li {
                        border: 1px solid black;
                        padding: 5px;
                        border-radius: 3px;
                        margin-right: 10px;
                        font-size: 14px;
                        width: fit-content;
                    }
                }

                
            }
        }
    }

    .modal {
        pointer-events: none;
        opacity: 0;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        z-index: 9999999;
        color: black;
        border-radius: 9px;
        padding: 3rem 2rem;
        transition: opacity $transition;
        transform: translate(-50%, -50%);

        img {
            width: 25rem;
            @include img;
            margin-top: 1rem;
            display: none;

            @include mobile {
                display: inherit;
                width: 100%;
                margin-top: 2rem;
            }
        }

        @include mobile {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            border-radius: 0;
            transform: inherit;
        }

        span {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 30px;
        }

        a {
            color: black;
            @include lien;
        }
    }

    .open {
        opacity: 1;
        pointer-events: auto;
    }

    .overlay {
        z-index: 9999998;
        opacity: 0;
    }
    .overlayOpen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.8;
    }

    @include mobile {
        .overlay, .overlayOpen {
            display: none;
        }
    }
}

