@import "../../styles/mixins";
@import "../../styles/variables";

.header {
    //margin-bottom: -4rem;
    margin-bottom: 3rem;

    .headerContent {
        background-color: #0a202b;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20rem;
        clip-path: polygon(0% 0%,100% 0%,100% 63%,0% 100%);

        h1, p, a {
            &::selection {
                color: black;
                background: white;
            }
               
            &::-moz-selection {
                color: black;
                background: white;
            }
        }
    
        p, a{
            color: white;
            margin: 0;
        }
    
        ul {
            display: flex;
    
            li {
                margin: 0 1rem 0 1rem;
            }
        }

        .lienHeader {
            @include lienHeader;
        }
    }
}

