@import "../../../styles/mixins";

.about {

    .AboutText {
        @include centrer;
        width: 100%;

        p {
            width: 70%;
    
            &:last-child {
                margin-bottom: 4rem;
            }
        }
    }
    
    
}