@import "../../../styles/mixins";
@import "../../../styles/variables";

.about {
    @include fondAnimation;
    width: 100%;
    
    .AboutContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .content {
            width: 70%;
            margin-bottom: 4rem;

            div {
                display: flex;

                @include mobile {
                        display: inherit;
                }

                img {
                    max-height: 15rem;
                    @include img;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include mobile {
                        margin-top: 1rem;
                    }

                    li {
                        margin: 0 0 10px 10px;
                        margin-left: -2rem;
                        opacity: 0;
                        transition: margin-left 0.5s, opacity $transition;

                        @include mobile {
                            margin-left: 0;
                            opacity: 1;
                        }
                        
                    }
                }

                img:hover ~ ul li {
                    margin-left: 2rem;
                    opacity: 1;

                    @include mobile {
                        margin-left: 0;
                        opacity: 1;
                    }
                }
                
            }
            

            p {
                &:last-child {
                    margin-bottom: 4rem;
                }
            }
            
            a {
                @include lien;
                color: black;
            }

            .gitHub {
                text-align: center;
            }

            .monCV {
                @include mobile {
                    padding-bottom: 3rem;
                }
            }
        }
    }
}