@import "../../../styles/mixins";
@import "../../../styles/variables";

.about {
    @include fondAnimation;
    width: 100%;
    
    .AboutContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .content {
            width: 70%;
            margin-bottom: 4rem;
            display: flex;
            align-items: center;

            @include mobile {
                width: 80%;
                flex-direction: column;
                align-items: flex-start;
            }

            div {
                @include mobile {
                    margin-bottom: 1.5rem;
                }

                img {
                    z-index: 0;
                    max-height: 15rem;
                    @include img;
                }

                /*ul {
                    z-index: -1;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @include mobile {
                        margin-top: 1rem;
                    }

                    li {
                        margin: 0 0 10px 10px;
                        margin-left: -2rem;
                        opacity: 0;
                        transition: margin-left 0.5s, opacity $transition;

                        @include mobile {
                            margin-left: 0;
                            opacity: 1;
                        }
                        
                    }
                }

                img:hover ~ ul li {
                    margin-left: 2rem;
                    opacity: 1;

                    @include mobile {
                        margin-left: 0;
                        opacity: 1;
                    }
                }*/
                
            }
            
            .aboutText {
                padding-left: 1.5rem;

                @include mobile {
                    flex-direction: column;
                    justify-content: flex-start;
                    text-align: start;
                    padding-left: 0;
                }
                
                p:first-child {
                    margin-top: 0;
                }

                p {
                    margin-bottom: 1rem;
                }
                
                a {
                    @include lien;
                    color: black;
                }
    
                .gitHub {
                    text-align: center;
                }
    
                .monCV {
                    @include mobile {
                        padding-bottom: 3rem;
                    }
                }
            }

            
        }
    }
}