@import "../../styles/mixins";
@import "../../styles/variables";

.footer {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    color: $primary;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    i {
        font-size: 2rem;
        color: $primary;
    }
    
    a:nth-child(2) {
        padding: 0 0.5rem 0 0.5rem;
    }

    @include mobile {
        display: none;
    }
}