@import "styles/mixins";
@import "styles/variables";

.footer {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    text-transform: uppercase;

    @include mobile {
        display: none;
    }
}